@charset "utf-8";
#bfpic{ float:left; text-align:center; width:700px;}
#bftxt{ float:inherit; width:600px;}
#bftxt h2{ text-align:center;}
#bftxt p{text-indent:2em;}
#bg{ background:url(../music/pic/mubfbg.jpg)}